DB_HOST=subscription-postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=subscriptions
DB_SSLMODE=disable

SERVER_PORT=8000
SERVER_HOST=0.0.0.0
SERVER_SCHEME=http
ENVIRONMENT=development